header {
    text-align: center;
    padding: 150px 30px;
    background: linear-gradient(360deg, rgb(0 0 0 / 80%), rgb(255 7 7 / 28%)), url(./assets/webp/Lula_coletiva.webp);
    background-size: cover;
    background-position: right;
    color: white;
}